body {
  font-size: arial, sans-serif;
  background-color: #f7e3f7;
}

h1 {
  color: rgb(130, 20, 119);
  font-size: 30px;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(130, 20, 119);
  font-size: 15px;
  font-weight: 100;
  line-height: 19px;
}
li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 30px auto;
  border-radius: 7px;
}

.weather-app {
  padding: 40px;
  height: 500px;
  border-radius: 7px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/083/964/original/37bff9a2ca6b45409f816874ef5af77f.jpg?1685560915");
}

.form-control {
  background-color: #fef7fe;
}

.search-btn {
  background-color: rgb(130, 20, 119);
  color: #fae1fa;
  border-radius: 5px;
  padding: 5px;
  font-size: 17px;
  border: 1px solid;
  border-color: rgb(130, 20, 119);
  width: 60%;
}
.search-btn:hover {
  opacity: 0.6;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(130, 20, 119);
  font-size: 60px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(130, 20, 119);
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 70px;
  text-align: center;
  color: rgb(130, 20, 119) 8;
}
.weather-forecast-date {
  font-size: 20px;
  opacity: 0.6;
  color: rgb(130, 20, 119);
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}
.weather-forecast-temperature {
  font-size: 15px;
  color: rgb(130, 20, 119);
}
