body {
  background-color: #faecfa;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: rgb(130, 20, 119);
  font-size: 35px;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 0;
  margin-top: auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  margin-top: 3px;
  padding: 0;
  color: rgb(67, 5, 61);
  font-size: 15px;
  font-weight: 100;
  line-height: 20px;
}
li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 30px auto;
  border-radius: 7px;
}

.weather-app {
  padding: 40px;
  height: 500px;
  border-radius: 7px;
  background-image: url(image-kyiv.png);
}

.form-control {
  background-color: #fef7fe;
}

.search-btn {
  background-color: rgb(130, 20, 119);
  color: #fae1fa;
  border-radius: 5px;
  padding: 5px;
  font-size: 17px;
  border: 1px solid;
  border-color: rgb(130, 20, 119);
  width: 60%;
}
.search-btn:hover {
  opacity: 0.6;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(130, 20, 119);
  font-size: 60px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 15px;
  top: -30px;
}

.weather-temperature .active {
  color: #f7e3f7;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 70px;
  text-align: center;
  color: #f7e3f7;
}

.weather-forecast-date {
  font-size: 25px;
  color: rgb(111, 18, 100);
}

.weather-forecast-temperature-max {
  font-size: 20px;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
  font-size: 20px;
}
.weather-forecast-temperature {
  font-size: 15px;
  color: rgb(130, 20, 119);
}
